node_modules/
/packages/record-desktop-gtk/dist/
/packages/record-desktop-electron/dist/
*.log
play.js
/packages/record-desktop-electron/public/*
!/packages/record-desktop-electron/public/.keep
!/packages/record-desktop-electron/public/index.html
!/packages/record-desktop-electron/public/index-dev.html
!/packages/record-desktop-electron/public/index-idle.html
!/packages/record-desktop-electron/public/images
t1.js
dist-pkg
scripts/x11-screenshot/x11-screenshot
