.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.container div {
  margin-top: 10px;
}

.container > section {
  padding: 20px 0;
}

.container > section:not(:last-child) {
  border-bottom: 1px solid #e1e8ed;
}

.input {
  margin: 15px auto 0;
  width: 50%;
}

.input > input {
  margin-top: 10px;
  text-align: center;
}

.shortcutsContainer {
  margin-bottom: 10px;
}

.code {
  padding: 5px;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}
